In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
harrogate = gpd.read_file('harrogate.shp')
st_helen = gpd.read_file('st_helen.shp')
worksop = gpd.read_file('worksop.shp')

In [3]:
harrogate.head(2)

,Catchment,Catchmen_1,Number of,Distance (,Aspiring H,City Prosp,Country Li,Domestic S,Family Bas,Modest Tra,...,Vintage _1,Dominant S,Top 5 Segm,Dominant C,Top 5 Cont,Total Cont,distance_s,Cluster_ps,Catchmen_2,geometry
0,E01027731,Harrogate 019D,72770,1.52,1460,19470,243,4868,2312,5111,...,7.692731,City Prosperity,"['City Prosperity', 'Rural Reality', 'Suburban...",26.755531,58.360588,4.105626,0.396825,1,Primary,"POLYGON ((-1.54085 53.97919, -1.54092 53.97926..."
1,E01027720,Harrogate 011C,58604,2.21,6098,2975,7140,7288,5950,0,...,6.091734,Rural Reality,"['Rural Reality', 'Domestic Success', 'Country...",12.690260,58.120606,3.306391,0.311526,1,Primary,"POLYGON ((-1.56892 54.00689, -1.56876 54.00727..."

In [4]:
harrogate.columns

Index(['Catchment', 'Catchmen_1', 'Number of', 'Distance (', 'Aspiring H',
       'City Prosp', 'Country Li', 'Domestic S', 'Family Bas', 'Modest Tra',
       'Municipal', 'Prestige P', 'Rental Hub', 'Rural Real', 'Senior Sec',
       'Suburban S', 'Transient', 'Urban Cohe', 'Vintage Va', 'Category',
       'Aspiring_1', 'City Pro_1', 'Country _1', 'Domestic_1', 'Family B_1',
       'Modest T_1', 'Municipa_1', 'Prestige_1', 'Rental H_1', 'Rural Re_1',
       'Senior S_1', 'Suburban_1', 'Transien_1', 'Urban Co_1', 'Vintage _1',
       'Dominant S', 'Top 5 Segm', 'Dominant C', 'Top 5 Cont', 'Total Cont',
       'distance_s', 'Cluster_ps', 'Catchmen_2', 'geometry'],
      dtype='object')

In [5]:
# Select relevant columns
keep_cols = [
    "geometry", 
    "Catchmen_1", 
    "Dominant S", 
    "Catchmen_2"
]

In [6]:
harrogate = harrogate[keep_cols]

# Rename for consistency
harrogate = harrogate.rename(columns={
    "Catchmen_1": "Catchment_Name",
    "Dominant S": "Dominant_Segment",
    "Catchmen_2": "Catchment_Category"
})

# Add station name column
harrogate["Station"] = "Harrogate"

harrogate.head()

,geometry,Catchment_Name,Dominant_Segment,Catchment_Category,Station
0,"POLYGON ((-1.54085 53.97919, -1.54092 53.97926...",Harrogate 019D,City Prosperity,Primary,Harrogate
1,"POLYGON ((-1.56892 54.00689, -1.56876 54.00727...",Harrogate 011C,Rural Reality,Primary,Harrogate
2,"POLYGON ((-1.51314 54.00019, -1.51304 54.00022...",Harrogate 014B,Prestige Positions,Primary,Harrogate
3,"POLYGON ((-1.61681 54.02457, -1.61679 54.02475...",Harrogate 008B,Transient Renters,Primary,Harrogate
4,"POLYGON ((-1.55954 53.99308, -1.55943 53.99305...",Harrogate 015A,Rental Hubs,Primary,Harrogate

In [7]:
st_helen = st_helen[keep_cols]

# Rename for consistency
st_helen = st_helen.rename(columns={
    "Catchmen_1": "Catchment_Name",
    "Dominant S": "Dominant_Segment",
    "Catchmen_2": "Catchment_Category"
})

# Add station name column
st_helen["Station"] = "st_helen"

st_helen.head()

,geometry,Catchment_Name,Dominant_Segment,Catchment_Category,Station
0,"POLYGON ((-2.68946 53.4374, -2.68937 53.43747,...",St. Helens 022B,Municipal Tenants,Primary,st_helen
1,"POLYGON ((-2.71762 53.43742, -2.71751 53.43744...",St. Helens 020B,Family Basics,Primary,st_helen
2,"POLYGON ((-2.6955 53.45277, -2.69554 53.45277,...",St. Helens 011B,Municipal Tenants,Primary,st_helen
3,"POLYGON ((-2.72406 53.4766, -2.72408 53.47666,...",St. Helens 004B,Family Basics,Primary,st_helen
4,"POLYGON ((-2.71368 53.52503, -2.71369 53.52517...",Wigan 018F,Modest Traditions,Primary,st_helen

In [8]:
worksop = worksop[keep_cols]

# Rename for consistency
worksop = worksop.rename(columns={
    "Catchmen_1": "Catchment_Name",
    "Dominant S": "Dominant_Segment",
    "Catchmen_2": "Catchment_Category"
})

# Add station name column
worksop["Station"] = "worksop"

worksop.head()

,geometry,Catchment_Name,Dominant_Segment,Catchment_Category,Station
0,"POLYGON ((-1.1898 53.51438, -1.18979 53.51438,...",Doncaster 021E,Aspiring Homemakers,Secondary,worksop
1,"POLYGON ((-1.1243 53.30967, -1.12433 53.30968,...",Bassetlaw 012A,Aspiring Homemakers,Primary,worksop
2,"POLYGON ((-1.4974 53.41752, -1.4975 53.41763, ...",Sheffield 017C,Aspiring Homemakers,Secondary,worksop
3,"POLYGON ((-1.18454 53.35033, -1.18436 53.35033...",Rotherham 032F,Aspiring Homemakers,Secondary,worksop
4,"POLYGON ((-3.0269 53.79614, -3.02691 53.79614,...",Blackpool 016D,Domestic Success,Secondary,worksop

In [9]:
# Merge all three station GeoDataFrames
all_catchments = pd.concat([harrogate, st_helen, worksop], ignore_index=True)

In [10]:
all_catchments.head()

,geometry,Catchment_Name,Dominant_Segment,Catchment_Category,Station
0,"POLYGON ((-1.54085 53.97919, -1.54092 53.97926...",Harrogate 019D,City Prosperity,Primary,Harrogate
1,"POLYGON ((-1.56892 54.00689, -1.56876 54.00727...",Harrogate 011C,Rural Reality,Primary,Harrogate
2,"POLYGON ((-1.51314 54.00019, -1.51304 54.00022...",Harrogate 014B,Prestige Positions,Primary,Harrogate
3,"POLYGON ((-1.61681 54.02457, -1.61679 54.02475...",Harrogate 008B,Transient Renters,Primary,Harrogate
4,"POLYGON ((-1.55954 53.99308, -1.55943 53.99305...",Harrogate 015A,Rental Hubs,Primary,Harrogate

In [18]:
all_catchments['Catchment_Category'].value_counts()

Catchment_Category
Secondary    198
Primary      171
Tertiary      88
Name: count, dtype: int64

In [13]:
all_catchments.to_file("catchments.geojson", driver="GeoJSON")